.imageBox {
    width: 150px; /* width of container */
    height: 150px; /* height of container */
    overflow: hidden;
    border-radius: 75px;
    background-color: white;
}

extraPadding {
    padding: 10px;
}

.regularImage {
    border-radius: 4px;
    object-fit: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.alignVertically {
    vertical-align: middle;
}

