
.addButton {
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: black;
    border: 0px;
    display: flex;
    align-items: center;
    text-align: center;
}

.addButton:hover {
    font-weight: bold;
    opacity: 0.5;
    background-color: lightgrey;
}