table {
    width: fit-content;
    height: 100%;
    padding: 16px;
    table-layout: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

.tableHeader {
    background-color: var(--primaryColor);
    color: white;
    text-align: left;
    font-size: 15px;
    width: 100%;
  }


  td, th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid light;
    padding: 10px;
}


.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px
}

.shadow {
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}
